/* Blue color for heading */
#headingOne, .modal-color-header{
    background-color: #87CEFA;
}

#add-bill{
    background: #fff;
    border-radius: 5px 5px 20px 20px;
    border: 2px solid #DDDDDD;
}

.bill-container{
    background-color: #FFFFFF;
    border: 2px solid #DDDDDD;
}

table tbody tr:hover{
    background-color: #DDDDDD;
}

#headingOne h2 button{
    text-decoration: none;
}
